%section.header{:role => :heading}
  .navigation
    .frame
      %nav.menu{:role => :menu}
        %ul
          %li
            %a.login{:href => "/"} Post
          %li
            %a.login{:href => "/whats-this"} What's this?
          %li
            %a.login{:href => "/tip"} Tips
          %li
            %a.login{:href => "/login"} Login
  .title
    .frame
      %header.header
        %hgroup
          %h1
            %a{:href => "/"}= "<span>Ubiquitously</span><span class='me'>me</span>"
%section.body{:role => :main}
  .content
    .frame
      %form#content-form{:action => "/", :method => :post, :autocomplete => :off}
        .steps
          %fieldset.step#step-one
            %h2 What
            .field
              %label{:for => :url} Url
              %input#url-input{:name => :url, :type => :text}/
            .field
              %label{:for => :title} Title
              %input#title-input{:name => :title, :type => :text}/
            .field
              %label{:for => :description} Description
              %textarea#description-input{:name => :description, :type => :text}
            .field
              %label{:for => :tags} Tags 
              %input#tags-input{:name => :tags, :type => :text}/
          -#
            %fieldset.choices
              .field
                %label{:for => :vote} Vote 
                %input{:name => :vote, :type => :radiobutton, :value => :none}/
                %input{:name => :vote, :type => :radiobutton, :value => :up}/
                %input{:name => :vote, :type => :radiobutton, :value => :down}/
              .field
                %label{:for => :rating} Rating 
                %select#rating-input{:name => :rating}
                  %option{:value => 1} 1
                  %option{:value => 2} 2
                  %option{:value => 3} 3
                  %option{:value => 4} 4
                  %option{:value => 5} 5
              .field
                %label{:for => :private} Private
                %input{:name => :private, :type => :checkbox}/
          %fieldset.step#step-two
            %h2 Where
            - Ubiquitously.services.each do |service|
              .field
                %label= service.titleize
                %input.service{:type => :checkbox, :name => "services[]", :value => service}/
            .send
              %input#submit{:type => :submit, :value => "Send"}
        #next.pager= "Next →"
        #previous.pager= "← Previous"
%section.footer{:role => :contentinfo}
  .navigation
    .frame
      %nav.menu{:role => :menu}
      