!!! 5
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:og" => "http://opengraphprotocol.org/schema/", "xmlns:fb" => "http://www.facebook.com/2008/fbml"}
  %head{:profile => "http://gmpg.org/xfn/11"}
    = partial "shared/head"
  %body
    .document{:role => :document}
      = yield