$accent-color: #e23f76;
$barely-color: #9fb0b7;
$bar-color: #2d2f35;
$background-grad-dark: #317284;
$background-grad-light: #4b8fa0;
$text-color: #f7f7f7;
$header-color: #ffdd55;
$slide-two-dark: #a01625;
$slide-two-light: #ba2237;
$submit-color: #a6ede3;
$background-color: #e2e3e5;

@mixin gradient($first, $second) {
  background: $second;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from($first), to($second)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  $first,  $second); /* for firefox 3.6+ */
}

@mixin rotate($deg) {
   -moz-transform: rotate($deg);  
     -o-transform: rotate($deg);  
-webkit-transform: rotate($deg);
           filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104); 
       -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104)";
             zoom: 1;
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  /* For IE 8 */

  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  /* For IE 5.5 - 7 */

  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}