@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}
html, body {
  height: 100%;
  overflow: auto;
  position: relative;
}

.document {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -55px;
}

.frame {
  width: 960px;
  margin: 0 auto;
  overflow: none;
  position: relative;
}
