html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1;
  font: 93.75%/1.5em Arial, Helvetica, "Liberation sans", "Bitstream Vera Sans", sans-serif; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #626262;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  overflow: hidden; }

body {
  font: 80%/1.6 arial, sans-serif;
  background: #e2e3e5;
  color: #f7f7f7; }

p {
  margin-bottom: 17px; }

input {
  font: 1em arial, sans-serif; }

h1 {
  font-weight: normal;
  font-size: 3.4em;
  line-height: 1;
  color: #ffdd55;
  margin-bottom: 10px; }

h2 {
  font-weight: normal;
  font-size: 4em;
  line-height: 1;
  color: #ffdd55;
  margin-bottom: 10px; }

h3 {
  font-weight: normal;
  font-size: 2.4em;
  line-height: 1;
  color: #ffdd55;
  margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #2d2f35; }

html, body {
  height: 100%;
  overflow: auto;
  position: relative; }

.document {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -55px; }

.frame {
  width: 960px;
  margin: 0 auto;
  overflow: none;
  position: relative; }

.document > .header .navigation {
  background: white;
  text-align: right;
  padding: 5px 10px; }
  .document > .header .navigation a {
    color: #9fb0b7; }
  .document > .header .navigation ul li {
    display: inline-block;
    padding: 0px 0px 0px 20px; }
.document > .header .title {
  text-align: center;
  background: #e2e3e5;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e2e3e5));
  /* for webkit browsers */
  background: -moz-linear-gradient(top, white, #e2e3e5);
  /* for firefox 3.6+ */
  padding-top: 30px; }
  .document > .header .title .header h1 {
    color: #7dad66;
    text-shadow: -1px -1px #666, 1px 1px #FFF;
    font-weight: bold;
    font-size: 6em;
    text-align: center;
    padding: 10px 0px;
    position: relative; }
    .document > .header .title .header h1 a {
      text-decoration: none;
      color: inherit; }
    .document > .header .title .header h1 span {
      padding: 0 !important;
      margin: 0 !important; }
      .document > .header .title .header h1 span.me {
        color: #804295;
        position: relative;
        -moz-transform: rotate(-30deg);
        -o-transform: rotate(-30deg);
        -webkit-transform: rotate(-30deg);
        filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104);
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104)";
        zoom: 1;
        display: inline-block;
        top: -35px;
        left: 5px;
        font-size: .5em; }

h2, h3, #input {
  text-shadow: -1px -1px #666; }

.document > .body {
  padding-bottom: 60px;
  position: relative; }
  .document > .body .content {
    position: relative; }
  .document > .body form {
    position: relative;
    -moz-box-shadow: 0px 1px 2px #333333;
    -webkit-box-shadow: 0px 1px 2px #333333;
    box-shadow: 0px 1px 2px #333333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color'); }
  .document > .body fieldset {
    display: block; }
  .document > .body .step {
    padding: 10px 10px 15px 10px;
    position: relative;
    width: 920px; }
    .document > .body .step#step-one {
      background: #317284;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
      /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#4b8fa0), to(#317284));
      /* for webkit browsers */
      background: -moz-linear-gradient(top, #4b8fa0, #317284);
      /* for firefox 3.6+ */
      border: 10px solid white; }
      .document > .body .step#step-one h2 {
        color: white; }
    .document > .body .step#step-two {
      background: #a01625;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
      /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#ba2237), to(#a01625));
      /* for webkit browsers */
      background: -moz-linear-gradient(top, #ba2237, #a01625);
      /* for firefox 3.6+ */
      border: 10px solid white; }
      .document > .body .step#step-two h2 {
        color: white; }
    .document > .body .step .field label {
      display: block;
      color: #ffdd55; }
    .document > .body .step .field input {
      display: block;
      padding: 0;
      margin: 0;
      margin-bottom: 10px; }
    .document > .body .step .field input[type=text], .document > .body .step .field textarea {
      width: 906px;
      padding: 5px;
      background: white;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
      /* for IE */
      background: -webkit-gradient(linear, left top, left bottom, from(#e2e3e5), to(white));
      /* for webkit browsers */
      background: -moz-linear-gradient(top, #e2e3e5, white);
      /* for firefox 3.6+ */ }
    .document > .body .step .field input[type=text] {
      font-size: 2.6em; }
    .document > .body .step .field textarea {
      font-size: 1.8em;
      height: 5em;
      resize: none; }
  .document > .body #step-two .field {
    display: inline-block;
    text-align: center;
    width: 100px; }
    .document > .body #step-two .field label {
      display: block; }
    .document > .body #step-two .field input {
      display: inline-block; }
  .document > .body .pager {
    color: #f7f7f7;
    border: none;
    font-size: 1.8em;
    cursor: pointer;
    position: absolute;
    -moz-box-shadow: 0px 1px 2px #333333;
    -webkit-box-shadow: 0px 1px 2px #333333;
    box-shadow: 0px 1px 2px #333333;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
    border: 5px solid white; }
    .document > .body .pager.step-one {
      background: #317284; }
    .document > .body .pager.step-two {
      background: #a01625; }

#next {
  padding-left: 40px;
  padding-right: 10px;
  -moz-transform: rotate(-7deg);
  -o-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104)";
  zoom: 1; }

#previous {
  padding-right: 40px;
  padding-left: 10px;
  display: none;
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', M11=0.9914448613738104, M12=-0.13052619222005157, M21=0.13052619222005157, M22=0.9914448613738104)";
  zoom: 1; }

#submit {
  background: #e2e3e5;
  border: none;
  font-size: 1.8em;
  cursor: pointer;
  color: #2d2f35;
  border: 5px solid white;
  padding: 10px 20px;
  -moz-box-shadow: 0px 1px 2px #333333;
  -webkit-box-shadow: 0px 1px 2px #333333;
  box-shadow: 0px 1px 2px #333333;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color'); }

.stats {
  position: fixed;
  padding: 3px;
  background: blue;
  display: inline-block;
  z-index: 1000; }

.send {
  display: block;
  text-align: center;
  margin-top: 20px; }

#account-form {
  display: none; }

textarea {
  overflow: auto; }

.document > .footer {
  bottom: 0;
  width: 100%;
  z-index: 1000px; }
  .document > .footer .navigation {
    height: 30px;
    background: white;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e3e5), to(white));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #e2e3e5, white);
    /* for firefox 3.6+ */ }
